{% load url from future %}
{% load staticfiles i18n %}
{% load flatpages %}

<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}" type="text/css" />
		<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-responsive.css" %}" type="text/css" />
		<link rel="stylesheet" href="/static/stylesheets/base.css" type="text/css" />
	
		<script src='{% static "js/jquery-1.8.2.min.js" %}' type="text/javascript" charset="utf-8"></script>
		<script src='{% static "bootstrap/js/bootstrap.js" %}' type="text/javascript" charset="utf-8"></script>
		
		<title>
			{% block title %}
				OCFB Online
			{% endblock %}
		</title>
	</head>
	<body>
		<header class="header-block">
			<div class="container-fluid page-header">
				<div class="span1"></div>
				<div class="span2 logo"></div>
				<div class="span1"></div>
				<div class="span8 title">
					<h1 class="site-title">Oberlin College Flaming Blades</h1>
				</div>
			</div>
		</header>
		<ul class="nav main-nav">
			<li class="red"><div class="container"><a href="/">Home</a></div></li>
			<li class="orange"><div class="container">
				{% get_flatpages '/about/' as info_pages %}
				{% for page in info_pages %}
					<a href="{{ page.url }}">{{ page.title }}</a>
				{% endfor %}
			</div></li>
			<li class="yellow"><div class="container"><a href="/roster/">Roster</a></div></li>
			<li class="green"><div class="container"><a href="/">Events</a></div></li>
			<li class="blue"><div class="container"><a href="/">Media</a> > <a href="/gallery/">Photos</a> <a href="">Videos</a></div></li>
			<li class="purple"><div class="container">
				{% get_flatpages '/culture/' as cult_pages %}
				{% for cult in cult_pages %}
					<a href="{{ cult.url }}">{{ cult.title }}</a>
				{% endfor %}
			</div></li>
		</ul>
		<div class="container-fluid">
			<div class="span12">
				<div class="content">
					<h2 class="pagetitle">
						{% block pagetitle %}
							En Garde!
						{% endblock %}
					</h2>
					{% block bodycontent %}
						hey everyone!
					{% endblock %}
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="span12">
				<div class="page-footer">
					<nav class="footer-nav">
						<ul>
							<li>
								Contact
							</li>
							<li>
								Site Info
							</li>
							<li>
								Updates
							</li>
							<li>
								Oberlin
							</li>
							<li>
								#swag
							</li>
						</ul>
					</nav>
					<p>
						Made by <a href="http://violet.is">Violet Pe&ntilde;a</a>
					</p>
				</div>
			</div>
		</div>
	</body>
</html>