/* line 6, ../sass/base.sass */
body {
  background-color: #f4f2e6;
}

/* line 9, ../sass/base.sass */
.main-nav {
  font-family: "Century Gothic";
  text-transform: uppercase;
}

/* line 13, ../sass/base.sass */
.content, .page-footer {
  font-family: "Century Gothic";
  color: #6f6f71;
  font-size: 16px;
  line-height: 32px;
}

/* line 19, ../sass/base.sass */
.page-header {
  font-family: "Bebas Neue";
  font-weight: normal;
  text-transform: uppercase;
  color: #f7f6f1;
  margin: 0px;
  border-bottom: 0px;
}

/* line 27, ../sass/base.sass */
.header-block {
  background-color: #61605c;
  padding: 8px;
}

/* line 31, ../sass/base.sass */
.site-title {
  margin: 0px;
  font-size: 120px;
  line-height: 120px;
  margin-top: 10px;
  margin-bottom: -30px;
  letter-spacing: 2px;
}

/* line 39, ../sass/base.sass */
.pagetitle {
  color: #464646;
  font-size: 34px;
  letter-spacing: 4px;
  font-weight: normal;
  text-align: center;
  margin: 12px 0px;
}

/* line 47, ../sass/base.sass */
.logo {
  background-color: #f4f2e6;
  height: 220px;
  margin-top: -10px;
  display: inline-block;
}

/* line 53, ../sass/base.sass */
.thumb {
  margin: 0px 12px 4px 0px;
  float: left;
}

/* line 58, ../sass/base.sass */
.page-footer {
  margin-top: 3em;
  border-top: solid 1px #6f6f71;
  text-align: center;
  padding: 1em 0px;
}

/* line 64, ../sass/base.sass */
.footer-nav > ul {
  list-style-type: none;
  display: inline;
}
/* line 68, ../sass/base.sass */
.footer-nav > ul > li {
  display: inline-block;
  margin: 0px 0.5em;
}

/* line 73, ../sass/base.sass */
.red {
  background-color: #992a3b;
}

/* line 76, ../sass/base.sass */
.orange {
  background-color: #b3802d;
}

/* line 79, ../sass/base.sass */
.yellow {
  background-color: #b8ba3d;
}

/* line 82, ../sass/base.sass */
.green {
  background-color: #618337;
}

/* line 85, ../sass/base.sass */
.blue {
  background-color: #597e91;
}

/* line 88, ../sass/base.sass */
.purple {
  background-color: #59496e;
}

/* line 91, ../sass/base.sass */
.main-nav {
  font-color: #f7f6f1;
  font-family: "Century Gothic";
  font-size: 18px;
}
/* line 96, ../sass/base.sass */
.main-nav a, .main-nav a:visited, .main-nav a:active, .main-nav a:hover {
  color: #f7f6f1;
  display: inline-block;
}
/* line 100, ../sass/base.sass */
.main-nav li {
  padding: 4px;
}

/* line 105, ../sass/base.sass */
.squad {
  margin-bottom: 4em;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
}

/* line 109, ../sass/base.sass */
.member {
  -webkit-column-break-inside: avoid;
  column-break-inside: avoid;
}
/* line 112, ../sass/base.sass */
.member > h3 {
  font-weight: normal;
  color: #464646;
}
/* line 116, ../sass/base.sass */
.member > h3 > p, .member > h3 > small > p {
  display: inline-block;
}
/* line 119, ../sass/base.sass */
.member > p {
  line-height: 1.5em;
}

/* line 123, ../sass/base.sass */
.squad-title {
  line-height: 30px;
  border-bottom: 1px solid #cccccc;
  font-weight: normal;
}

/* line 128, ../sass/base.sass */
.weapon {
  list-style-type: none;
}

/* line 133, ../sass/base.sass */
.galleries {
  list-style-type: none;
}

/* line 136, ../sass/base.sass */
.gallery {
  list-style-type: none;
  margin-left: 0px;
}
/* line 139, ../sass/base.sass */
.gallery > li {
  display: inline-block;
}

/* line 142, ../sass/base.sass */
.gallery-title {
  margin-bottom: 0px;
}

/* line 145, ../sass/base.sass */
.count {
  margin-top: 0px;
  padding-left: 1em;
  font-weight: normal;
  font-style: italic;
  font-size: 0.8em;
  line-height: 0.8em;
}
